.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columnas {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImg {
    border-radius: 10px;
}

.movieDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}