
.searchContainer {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 30px;
    background: none;
    border: none;
    
}

.searchInput {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid rgb(15, 85, 15);
    font-size: 1.2rem;
    
}
.searchInput:focus {
    outline: none;
    border: 1px solid rgb(15, 85, 15);
    box-shadow:  0 0 5px rgb(112, 240, 95);
}